h1, h4 {
    text-align: center;
}

.background {
    fill: none;
    pointer-events: all;
}

svg {
    display: block;
    margin: auto;
}

#container {
    text-align: center;
}

section {
    margin-bottom: 100px;
}

.subsection {
    vertical-align: middle;
    display: inline-block;
}

ul {
    display: block;
    width: 200px;
    margin: auto;
    list-style-type: none;
}

.padSliders {
    margin: 15px 50px;
}

label {
    padding-left: 25px;
}

.state-borders {
    fill: none;
    stroke: #000;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.state-selected {
    fill: lightgreen;
}

.tooltip {
    position: absolute;
    padding: 10px;
    font: 12px sans-serif;
    background: white;
    border-radius: 5px;
    pointer-events: none;
}

input.ui-slider-input {
    width: 50px;
}

.ui-rangeslider-sliders {
    margin: 0 80px !important;
}

@media screen and (max-width: 1076px) {
    .subsection {
        display: block;
    }

    ul {
        margin-bottom: 50px;
    }
}